@import "node_modules/bootstrap/scss/bootstrap.scss";
:root {
  --verde-claro: #96c93e;
}

.submit-btn {
  background: solid var(--verde-claro) !important;
  border-radius: 15px;
}
.navbar a,
.navbar-brand span h1 {
  color: white;
}

.carousel-item img {
  height: 62.5%;
}
.footer-desk div {
  width: 14%;
}
.carousel-item {
  max-height: 600px !important;
}

.carousel-item img {
  filter: brightness(0.4);
}

@media only screen and (min-width: 1440px) {
  #oradores img {
    height: 370px;
  }
  .carousel-caption {
    width: 30%;
    margin-left: auto;
  }
}
